**/*.out
APP_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=MetSunSawedOfWire_C++2407
DB_NAME=messenger_db

JWT_SECRET=supernova-super-secret-key-danil-mb-gay
JWT_EXPIRY_HOURS=720

UPLOAD_DIR=./uploads

LOG_LEVEL=info
